*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

.logo img{
    width: 200px;
}

.header{
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.head-side ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.head-side ul li{
    /* font-size: 17px; */
}

.head-side ul li a{
    text-decoration: none;
    color: rgb(108, 104, 104);
}

.head-side ul li a:hover{
    color: rgb(51, 15, 15);
    text-decoration: underline;
}

.login-btn, .getstarted-btn{
    padding: 5px 20px;
    border: 0;
    font-size: 16px;
    border-radius: 50px;
    background-color: rgb(236, 236, 185);
}

.getstarted-btn{
    background-color: #78b734;
}

.container{
    background: #d6f5dbc0;
    height: 80vh;
}

.container h1{
    font-size: 40px;
    margin-top: 40px;
    color: #8f5151;
}

.container h3{
    color: #cc7e7e;
}

.container h1,h3{
    text-align: center;
    margin-top: 10px;
}

.scroll{
    position: absolute;
    right: 10px;
    top: 560px;
}

.relations{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.individual , .couples, .teen{
    /* border: 2px solid red; */
    width: 250px;
    height: 200px;
    border-radius: 50%;
}

.relate:hover{
    border: 2px solid rgb(91, 34, 34);
}

.individual{
    background: url("../images/individual.jpg");
    background-size: contain;
    position: relative;
}

/* .individual::after{
    content: '';
            width: 100%;
            height: 2px;
            background: currentColor;
            position: absolute;
            left: 50px;
            bottom: -50px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 300ms ease-in;
} */

.wave::after{
    content: "";
    position: absolute;
    /* background: rgba(15, 117, 219, 0.639); */
    width: 100%;
    height: 70px;
    left: 0;
    top: -40px;
}


.wave{
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    background-color: #9ec6f6;
    position: absolute;
    top: -110px;
    left: -40px;
    z-index: -1;
    border-radius: 50%;
}

.couples{
    background: url("../images/couples.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wave1::after{
    content: "";
    position: absolute;
    /* background: rgba(15, 117, 219, 0.639); */
    width: 100%;
    height: 70px;
    left: 0;
    top: -40px;
}

.wave1{
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    background-color: #b9cadf;
    position: absolute;
    top: 100px;
    left: -40px;
    z-index: -1;
    border-radius: 50%;
}

.teen{
    background: url("../images/teen2.jpg");
    background-size: contain;
    position: relative;
}

.wave2::after{
    content: "";
    position: absolute;
    /* background: rgba(15, 117, 219, 0.639); */
    width: 100%;
    height: 70px;
    left: 0;
    top: -40px;
}

.wave2{
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    background-color: #6f7066;
    position: absolute;
    top: -80px;
    left: 100px;
    z-index: -1;
    border-radius: 50%;
}

.relations p{
    font-size: 20px;
    margin-top: 38px;
    margin-left: 20px;
    color: rgb(93, 8, 8);
}

.relations small{
    margin-left: 30px;
    color: rgb(93, 8, 8);
}

.features{
    margin-top: 100px;
    padding: 0 30px;
    display: flex;
    gap: 30px;
    overflow: scroll;
}

.features::-webkit-scrollbar {
    display: none; 
  }

.features .first{
    height: 400px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
    background-image: linear-gradient(135deg , rgb(226, 192, 192), rgb(255, 255, 255) , rgb(212, 185, 190));
}

.first .images img{
    width: 400px;
}

/* .text{
    padding-right: 20px;
} */

.first .text p{
    margin-top: 30px;
}

.first1{
    position: relative;
}

.wave3::after{
    content: "";
    position: absolute;
    /* background: rgba(15, 117, 219, 0.639); */
    width: 100%;
    height: 70px;
    left: 0;
    top: -40px;
}

.wave3{
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    background-color: #b6f3c8;
    position: absolute;
    top: -140px;
    left: -100px;
    z-index: -1;
    border-radius: 50%;
}

.second{
    position: relative;
}

.wave4::after{
    content: "";
    position: absolute;
    /* background: rgba(15, 117, 219, 0.639); */
    width: 100%;
    height: 70px;
    left: 0;
    top: -40px;
}

.wave4{
    /* border: 1px solid red; */
    width: 400px;
    height: 400px;
    background-color: rgba(172, 161, 241, 0.518);
    position: absolute;
    top: -80px;
    left: 500px;
    z-index: -1;
    border-radius: 50%;
}

.faq{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 2px solid red; */
}

.faq-title{
    text-align: center;
    margin: 50px 0px;
    font-size: 22px;
}

.questions{
    /* max-width: 815px; */
    /* border: 2px solid red; */
    margin: auto;
}

summary{
    width: 65vw;
    list-style: none;
    margin-bottom: 2px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 2.2em 0.4em 1.2em;
    background-color: #ecd7d7;
    font-size: 25px;
}

details p{
    background-color: #f4ecec;
    font-size: 15px;
    max-height: 800px;
    width: 65vw;
    margin-top: 1px;
    padding: 1em 2.2em 1em 1.2em;
}

details ul{
    background-color: #f4ecec;
    font-size: small;
    padding-left: 50px;
}

details[open] svg{
    transform: rotate(45deg);
}

footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #dfdada;
}

.socialmedia .fa-brands{
    margin-left: 20px;
    font-size: 30px;
    /* margin-top: 20px; */
}

.fa-facebook:hover{
    color: rgb(119, 118, 238);
}

.fa-instagram:hover{
    color: rgb(142, 89, 110);
}

.fa-twitter:hover{
    color: rgb(118, 118, 238);
}

footer ul{
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}